# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.log

# Misc
.DS_Store
*.pem

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads
uploads/
temp/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.vercel
